@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --light-green: rgb(111, 230, 95);
  --gray: rgba(255, 255, 255, 0.5);
  --pink: rgb(245, 155, 222);

  --dark-green: rgb(23, 117, 11);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--light-green);

  font-family: "Roboto Mono", monospace, sans-serif;
  font-size: 1.3em;
  line-height: 1.2em;
}

.container {
  max-width: 640px;
  margin: 10px auto;
  padding: 20px;

  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--gray);

  border-radius: 5px;
}

.timer {
  font-size: 60px;
}

.buttons button {
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: var(--light-green);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  width:100px;
  height: 50px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: var(--dark-green);
}

.buttons button:active {
  background-color: var(--pink);
}

.pausado {
  color: red;
}

.footer {
  display: flexbox;

  width: 400px;

  align-items: center;
  justify-content: center;
  text-align: center;

  margin-left: 34%;
  padding-top: 5px;

  background-color: rgba(241, 241, 231, 0.8);

  border-radius: 7px;

  position: absolute;
  bottom: 5px;

  font-family: "Abril Fatface", cursive;
  color: black;
  letter-spacing: 3px;
  font-size: 20px;
}

.footer img {
  width: 40px;
  height: 40px;
  margin-inline: 5px;
  margin-top: 10px;

  cursor: pointer;
}
